a,
button,
input{
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #2583e3;
}
body{
  font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti', 'microsoft yahei', \5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;
  font-size: 62.5%;
  background: #efeff4;
  max-width: 640px;
  margin:0 auto;
}
@font-face {
  font-family: 'icomoon';
  src:    url('/fonts/icomoon.eot?jlfkxn');
  src:    url('/fonts/icomoon.eot?jlfkxn#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?jlfkxn') format('truetype'),
  url('/fonts/icomoon.woff?jlfkxn') format('woff'),
  url('/fonts/icomoon.svg?jlfkxn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-right:before {
  content: "\e901";
}
.icon-location-on:before {
  content: "\e900";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-plus:before {
  /*content: "\f067";*/
}
.icon-minus:before {
  content: "\f068";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-circle-thin:before {
  content: "\f1db";
}

.icon-img-alert{
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: url(/image/credit/icon-img-alert.png) no-repeat center center;
  background-size: 100%;
  vertical-align: -.15rem;
  margin-right: .25rem;
}

.dpn{
  display: none;
}
html .dpb{
  display: block;
}
.tal{
  text-align: left;
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  display:inline-block;
} /*Those two .clearfix have to be separate!)*/
.clearfix {
  display:block;
}
.text-red{
  color: #f00;
}
.hide-noplace{
  height: 0;
  overflow: hidden;
}
.wrapper{
  position: relative;
  padding: .5rem;
}
.wrapper-doublebtn a{
  width: 7.25rem;
}
.wrapper-doublebtn a:first-child{
  float: left;
}
.wrapper-doublebtn a:last-child{
  float: right;
}

.fill-2rem{
  position: relative;
  height: 2rem;
}

.btn{
  box-sizing: border-box;
  padding: 0 .75rem;
  display: inline-block;
  border-radius: .25rem;
  line-height: 2.2rem;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn-block{
  display: block;
}
.btn-default{
  border: 1px solid #2583e3;
  color: #2583e3;
}
.btn-purple{
  border: 1px solid #808;
  background: #808;
}
.btn-orange{
  border: 1px solid #ff9115;
  background: #ff9115;
}
.btn-red{
  border: 1px solid #f73e42;
  background: #f73e42;
}
.btn-blue{
  border: 1px solid #2583e3;
  background: #2583e3;
}
.btn-disabled{
  border: 1px solid #ccc;
  color: #666;
  background: #b9b9b9;
}
.btn-small{
  line-height: 1.1rem;
  font-size: .6rem;
}

.no-pd{
  padding: 0!important;
}
.no-pdt{
  padding-top: 0!important;
}
.no-bt{
  border-top: none!important;
}
.no-mgb{
  margin-bottom: 0!important;
}

.banner{
  height: auto;
}
.banner img{
  width: 100%;
  height: 100%;
}
/*车辆类型*/
a.three-item{
  display: block;
  color: #000;
}
a.three-item p{
  height: 1.4rem;
  line-height: 1.4rem;
}
a.three-item p b{
  display: inline-block;
  text-indent: 50px;
}
/* e */
.extra-text{
  padding: 0 .5rem;
  line-height: 1.5rem;
  font-size: .6rem;
  color: #666;
}
.extra-text .protocol{
  color: #2583e3;
}
.extra-text strong{
  font-size: .6rem;
  color: #333;
}
.wrap-list .extra-text{
  padding: 0;
  border-top: 1px solid #ccc;
}
.form{
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  margin-bottom: .5rem;
}
.form li{
  position: relative;
  line-height: 2.2rem;
}
.form li:before{
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: .5rem;
  width: 15.5rem;
  height: 0;
  border-bottom: 1px solid #cccccc;
}
.form li:last-child:before{
  border: none;
}
.form li.img-uploader:before,
.form li.no-border:before{
  display: none;
}
.form li.mix{
  line-height: 1rem;
}
.form li .extra-text{
  line-height: 2.2rem;
  font-size: .6rem;
  color: #333;
}
.form .label-normal{
  float: left;
  display: block;
  width: 4.75rem;
  padding-left: .5rem;
  font-size: .6rem;
  color: #333;
}
.form .input-normal{
  float: left;
  padding: 0;
  margin: 0;
  width: 10rem;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #333;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form .input-normal:disabled{
  color: #666;
  background: #fff;
}
.form .select-box{
  position: relative;
  float: left;
  line-height: 0;
  overflow: hidden;
}
.form .select{
  padding: 0;
  margin: 0;
  width: 10.25rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background: #fff;
  font-size: .6rem;
  color: #333;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form .select-box:before{
  content: '\e901';
  position: absolute;
  font-family: 'icomoon';
  width: .8rem;
  height: .8rem;
  line-height: 0.855rem;
  background: #2583e3;
  border-radius: 50%;
  top: 50%;
  right: 0;
  margin-top: -.4rem;
  color: #fff;
  font-size: .5rem;
  text-align: center;
  transform:rotate(90deg);
  pointer-events:none;
}
.form .form-extra{
  position: absolute;
  right: .5rem;
  top: 0;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #666;
}
.form .form-extra a{
  color: #2583e3;
}
.form .icon-close{
  position: absolute;
  right: .8rem;
  top: .8rem;
  width: .6rem;
  line-height: .6rem;
  height: .6rem;
  background: #999;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: .5rem;
  display: none;
}

.form .radio-group{
  float: left;
  width: 10.75rem;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #333;
}
.form .radio-group label{
  float: left;
  width: 33.33%;
}
.form .radio-group label:nth-child(2){
  text-align: center;
}
.form .radio-group label:last-child{
  text-align: right;
}
.form .radio-group input[type='radio']{
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  vertical-align: -0.3rem;
}
.form .radio-group input[type='radio']:before{
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  content: "\f1db";
  font-size: 1rem;
  color: #9d9d9d;
}
.form .radio-group input[type='radio']:focus{
  outline: none;
}
.form .radio-group input[type='radio']:checked:before{
  content: "\f058";
  color: #2583e3;
}
.form .radio-group label span{
  display: inline-block;
  box-sizing: border-box;
  padding-left: 1rem;
  font-size: .6rem;
  color: #666;
}
/*上传图片样式*/
.img-uploader{
  float: left;
  padding: .75rem .25rem;
  width: 4.3rem;
  list-style-type: none;
}
.img-uploader-box{
  position: relative;
  box-sizing: border-box;
  height: 3.25rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  overflow: hidden;
}
.img-uploader-box img{
  width: 100%;
  height: 100%;
}
.caradd .img-uploader-box img,
.carphoto .img-uploader-box img,
.managerinfo-page .img-uploader-box img{
  display: none;
}
.caradd .img-uploader-box img.active,
.carphoto .img-uploader-box img.active,
.managerinfo-page .img-uploader-box img.active{
  display: block;
}
.img-uploader p{
  padding-top: .5rem;
  line-height: .6rem;
  font-size: .6rem;
  color: #666;
}
.img-uploader-btn{
  position: absolute;
  /*left: 0.35rem;
  top: 1.125rem;*/
  left:1.35rem;
  top:1rem;
  width:1.49rem;
  height:1.55rem;
  background: url(/image/chedai/chedai_cam.png) no-repeat;
  background-size: 4.175rem 1.5rem;
  pointer-events:none;
  /*width: 3.5rem;
  height: 1rem;*/
  /*line-height: 1rem;
  background: rgba(0,0,0,.3);
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  font-size: .5rem;*/
}
.img-uploader-btn i{
  vertical-align: -.05rem;
}
.img-uploader-box .input-file{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.more-photo{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
  margin: 0 auto;
}
.img-uploader-info{
  min-width: 5.5rem;
  padding: .5rem 0;
  margin: 0 auto;
  line-height: .6rem;
  font-size: .5rem;
  color: #999;
}
.img-uploader-info .btn{
  width: 5rem;
  margin: 1rem auto .5rem;
}
.img-uploader-info .icon-plus{
  vertical-align: -.1rem;
}
.more-house-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efeff4;
  display: none;
}

.checkbox{
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 1rem 0 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  vertical-align: -0.15rem;
}
.checkbox:before{
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  content: "\f096";
  font-size: .75rem;
  color: #9d9d9d;
}
.checkbox:focus{
  outline: none;
}
.checkbox:checked:before{
  content: "\f14a";
  color: #2583e3;
}

.radio_type1,
.radio{
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 1rem 0 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  vertical-align: -0.15rem;
}
.radio_type1:before,
.radio:before{
  position: absolute;
  bottom: -.05rem;
  left: 0;
  font-family: 'icomoon';
  content: "\f1db";
  font-size: .85rem;
  color: #9d9d9d;
  padding-left:.05rem;
}
.radio_type1:focus,
.radio:focus{
  outline: none;
}
.radio_type1:checked:before,
.radio:checked:before{
  content: "\f058";
  color: #2583e3;
}
.wrap-home{
  padding: 1rem;
}
.wrap-home h2{
  margin-bottom: .5rem;
  font-size: .8rem;
  color: #2583e3;
}
.wrap-home p{
  line-height: 1.375rem;
  font-size: .6rem;
  color: #333;
}
.wrap-home p b{
  color: #f33;
}
.wrap-home h3{
  line-height: 2rem;
  font-size: .6rem;
  color: #999;
  font-weight: normal;
}
.wrap-home img{
  width: 9.8rem;
}

.hot-line{
  position: relative;
  margin-top: .5rem;
  text-align: center;
  font-size: .5rem;
  color: #999;
}
.hot-line a{
  color: #999;
}

.result-title{
  padding: 1.75rem 0 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
.result-sign{
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
  line-height: 6.25rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}
.result-sign i{
  display: none;
}
.result-sign-success{
  background: #1dcd6c;
}
.result-sign-success .icon-check{
  display: inline-block;
}
.result-sign-fail{
  background: #ff6e6c;
}
.result-sign-fail .icon-close{
  display: inline-block;
}
.result-msg{
  padding-top: 1.75rem;
  line-height: .7rem;
  font-size: .6rem;
  color: #666;
  text-align: center;
}
.result-msg b,
.result-link-success b,
.result-link-fail b,
.result-link-fail a{
  color: #f90;
}
.result-link-success{
  margin: 4.5rem .5rem 3.125rem;
}
.result-link-fail{
  margin: 3rem 0 6.75rem;
  line-height: .7rem;
  text-align: center;
  color: #999;
  font-size: .6rem;
}

.nav{
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 640px;
  height: 2.45rem;
  background: #fff;
  border-top: 1px solid #999;
}
.nav:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 2.45rem;
  border-right: 1px solid #ccc;
}
.nav a{
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: .5rem;
  color: #999;
}
.nav a i{
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.4rem auto .1rem;
  background: url(/image/chedai/nav.png) no-repeat;
  background-size: 5.5rem .95rem;
}
.nav a:last-child i{
  background-position: -3rem 0;
}
.nav a:hover i,
.nav a.current i{
  background-position: -1.5rem 0;
}
.nav a:last-child:hover i,
.nav a.current:last-child i{
  background-position: -4.5rem 0;
}
.nav a:hover strong,
.nav a.current strong{
  color: #2583e3;
}
.nav-fill{
  position: relative;
  height: 2.65rem;
}

.wrap-list{
  padding: 0 0 0 .5rem;
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  margin-bottom: .5rem;
}
.wrap-list>li{
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.wrap-list li:first-child{
  border: none;
}
.wrap-list .list-item{
  position: relative;
  display: block;
  height: 2.25rem;
  line-height: 2.25rem;
}
.wrap-list .list-item strong{
  color: #2583e3;
}
.wrap-list .list-item-key{
  float: left;
  color: #333;
  font-size: .6rem;
}
.wrap-list .list-item-value{
  float: right;
  color: #333;
  font-size: .6rem;
  margin-right: .5rem;
}
.wrap-list .list-link:before{
  content: "\f105";
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-family: 'icomoon';
  font-size: 1.2rem;
  color: #999;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap-list .list-link .list-item-value{
  margin-right: 1.5rem;
}

.wrap-list .list-item-big{
  height: 3rem;
  position: relative;
  overflow: hidden;
}
.wrap-list .list-item-big span{
  position: relative;
  float: none;
  display: block;
  line-height: 1.45rem;
  padding-left: .5rem;
}
.wrap-list .list-item-big .list-item-value{
  line-height: 1.3rem;
  text-align: center;
}
.wrap-list .list-item-big-single .list-item-value{
  font-size: .9rem;
  color: #f90;
}
.wrap-list .list-item-reject{
  padding-top: .35rem;
  height: 2.9rem;
  line-height: 1.3rem;
}
.wrap-list .list-item-reject small{
  float: left;
  font-size: .6rem;
  color: #999;
}
.wrap-list .list-item-reject p{
  float: right;
  font-size: .6rem;
  margin-right: .5rem;
}

.wrap-list .list-avatar{
  height: 4.4rem;
  line-height: 4.4rem;
}
.wrap-list .list-avatar:before{
  top: 1.6rem;
}
.wrap-list .list-avatar .list-item-value{
  width: 3rem;
  height: 3rem;
  margin: .7rem 1.2rem 0 0;
}
.wrap-list .list-avatar .list-item-value img{
  display: block;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/*两格布局*/
.wrap-col-double{
  position: relative;
}
.wrap-col-double:before{
  content: '';
  position: absolute;
  top: 18%;
  left: 50%;
  width: 0;
  height: 64%;
  border-right: 1px solid #e7e7e7;
}
.wrap-col-double .col{
  float: left;
  display: block;
  width: 50%;
}
.wrap-col-double .col-text{
  position: relative;
  width: 87.5%;
}
.wrap-col-double .col-text-key{
  font-size: .6rem;
  color: #666;
  line-height: 1.1rem;
}
.wrap-col-double .col-text-key strong{
  color: #2583e3;
}
.wrap-col-double .col-text-value{
  font-size: .9rem;
  color: #808;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}
.wrap-col-double .col-small{
  position: relative;
  display: block;
}
.wrap-col-double .col-small .col-text{
  margin: .25rem 6.25%;
}
.wrap-col-double .col-small .col-text-value{
  font-size: .9rem;
  color: #fb9b16;
}
.wrap-col-double .col-small .icon-angle-right{
  position: absolute;
  top: .2rem;
  right: .5rem;
  font-size: 1.1rem;
  color: #999;
}
.list-item-big .icon-angle-right{
  position: absolute;
  top: .2rem;
  right: .5rem;
  font-size: 1.1rem;
  color: #999;
}

a.btn-signout{
  display: block;
  height: 2.2rem;
  margin-top: 1.5rem;
  line-height: 2.2rem;
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  text-align: center;
  color: #333;
  font-size: .7rem;
}
/*更多按钮*/
a.btn-more{
  display: block;
  position: relative;
  height: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  color: #ccc;
  font-size: .5rem;
  text-shadow: 1px 1px 2px #fff;
}
.more-loading > i {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
.more-loading .bounce1 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.more-loading .bounce2 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.more-loading .bounce3 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.shadow,
.shadow-share{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  display: none;
}
.shadow-share i{
  display: block;
  position: fixed;
  right: .5rem;
  top: .5rem;
  width: 8.5rem;
  height: 7.575rem;
  background: url(/image/report/share.png) no-repeat;
  background-size: 100%;
}

.pop-wrap{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 102;
  width: 80%;
  margin-left: -40%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.pop-wrap .pop-content{
  margin: 20px 20px 0;
  border-bottom: 1px solid #ccc;
}
.pop-wrap .pop-content .pop-title{
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}
.pop-wrap .pop-content .pop-describe{
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}
.pop-wrap .pop-content .pop-describe b{
  color: #f90;
}
.pop-wrap .pop-button-box{
  overflow: hidden;
}
.pop-wrap .pop-button-box .pop-button{
  float: left;
  margin: 10px 0;
  font-size: 17px;
  color: #2583e3;
}
.pop-wrap .pop-button-box .pop-button-single{
  width: 100%;
}
.pop-wrap .pop-button-box .pop-button-double{
  width: 50%;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.pop-wrap-error{
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 102;
  height: 12px;
  line-height: 12px;
  padding: 20px 15px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  white-space:nowrap;
  text-align: center;
  display: none;
}

.pop-loading{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 102;
  padding: 30px 40px;
  color: #fff;
  z-index: 99;
  text-align: center;
  background: rgba(0,0,0,.8);
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
.pop-loading p{
  line-height: 30px;
  height: 30px;
}
.pop-loading .pop-loading-effect{
  width: 90px;
  margin: 0 auto;
}
.pop-loading .pop-loading-effect > i {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pop-loading .pop-loading-effect .bounce1 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.pop-loading .pop-loading-effect .bounce2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.pop-loading .pop-loading-effect .bounce3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.pop-loading .pop-loading-effect .bounce4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.pop-loading .pop-loading-effect .bounce5 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.pop-loading .pop-loading-effect .bounce6 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/*x添加*/
.logo li i,
.salesman-choose a i,
.salesmancar-page .btn-disabled i,
.salesmanbefore-page .btn-blue i,
.user-head i,
.selectlist .list{
  background: url(/image/chedai/salesman-client.png) no-repeat;
  background-size: 18rem 5.6rem;
}
.logo{
  height: 5rem;
  margin: 4.25rem 0 1.75rem;
  background: #fff;
}
.logo li{
  position: relative;
  float: left;
  width: 50%;
  height: 5rem;
  line-height: 999rem;
  overflow: hidden;
}
.logo li i{
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}
.logo li:first-child::before{
  content: '';
  position: absolute;
  top: .9375rem;
  right: 0;
  height: 3.125rem;
  border-left: 1px solid #d6d6d6;
}
.logo li:first-child i{
  background: url(/image/chedai/logo-cr.png) no-repeat center center;
  background-size: 100%;
}
.logo li:last-child i{
  background: url(/image/chedai/logo-ydd.png) no-repeat center center;
  background-size: 100%;
}
.login li{
  height: 2.2rem;
  margin-bottom: .5rem;
}
.login input{
  box-sizing: border-box;
  width: 100%;
  height: 2.2rem;
  margin-bottom: .5rem;
  padding-left: .5rem;
  border-radius: .3rem;
  border: 1px solid #ccc;
  font-size: .6rem;
  outline: none;
}
.salesman-choose{
  position: relative;
  top: 1rem;
  width: 100%;
  max-width: 640px;
  height: 16rem;
  background: #fff;
  border-top: 1px solid #ccc;
}
.salesman-choose:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 16rem;
  border-right: 1px solid #ccc;
}
.salesman-choose a{
  float: left;
  width: 49.8%;
  height: 50%;
  text-align: center;
  font-size: .65rem;
  color: #999;
  border-bottom: 1px solid #ccc;
}
.salesman-choose a i{
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  margin: 2rem auto 1rem;

}
.salesman-choose .car{
  background-position: -5.225rem 0;
}
.salesman-choose .house{
  background-position: -8.225rem 0;
}
.salesman-choose .others,
.salesman-choose .money{
  background-position: -11.225rem 0;
}
.salesman-choose .credit{
  background: url(/image/chedai/icon-credit.png) no-repeat;
  background-size: 100%;
}
/*salesmancar*/
.salesmancar-page,
.salesmanbefore-page{
  overflow: hidden;
}
.authority-page .btn,
.salesmancar-page .btn,
.salesmanbefore-page .btn{
  position: relative;
  margin: 3.5rem auto;
  width: 10.2rem;
}
.salesmancar-page .btn-disabled i{
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  margin: .25rem 0 0 1rem;
  background-position: -14.25rem 0;
}
/*salesmanbefore*/
.salesmanbefore-page .btn{
  padding-left: 2.3rem;
}
.salesmanbefore-page .btn-blue i{
  position: absolute;
  margin: .5rem 0 0 -6.9rem;
}
.salesmanbefore-page .btn .client{
  width: 1.03rem;
  height: 1.03rem;
  background-position: -9.6rem -3.2rem;
}
.salesmanbefore-page .btn .car{
  width: 1.48rem;
  height: .78rem;
  margin: .7rem 0 0 -7.2rem;
  background-position: -10.75rem -3.225rem;
}
.salesmanbefore-page .btn .money{
  width: 1.3rem;
  height: 1.05rem;
  background-position: -12.325rem -3.225rem;
}
/*customerinfo*/
/*可复用公共头开始*/
.tabs{
  box-sizing: border-box;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #2583e3;
  border-radius: .3rem;
  text-align: center;
  color: #2583e3;
  overflow: hidden;
  display: none;
}
.tabs li{
  box-sizing: border-box;
  float: left;
  height: 1.5rem;
  border-left: 1px solid #2583e3;
}
.tabs li:first-child{
  border: none;
}
.tabs .active{
  background: #2583e3;
  color: #fff;
}
/*可复用公共头结束*/
/*可复用公共列表开始*/
.wrap-list-block{
  position: relative;
  display: none;
}
.wrap-list-block .item{
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: .25rem .5rem;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5rem;
  font-size: .6rem;
  color: #666;
}
.wrap-list-block .item p{
  height: 1.35rem;
  line-height: 1.35rem;
  overflow: hidden;
}
.wrap-list-block .item p span{
  white-space: nowrap;
}
.wrap-list-block .item p span:nth-child(2){
  float: right;
  width: 8.25rem;
}
.wrap-list-block .item p b{
  color: #333;
  font-weight: bold;
}
.wrap-list-block .item p .red{
  color: #f66;
}
.wrap-list .list-item-value .blue,
.wrap-list-block .item p .blue{
  color: #2583e3;
}
.wrap-list .list-item-value .orange,
.wrap-list-block .item p .orange{
  color: #f90;
}
.wrap-list-block .item-link:before{
  content: '\e901';
  position: absolute;
  font-family: 'icomoon';
  top: 50%;
  right: .5rem;
  margin-top: -.5rem;
  color: #ccc;
  font-size: 1rem;
}
/*可复用公共列表结束*/
/*可复用底部添加信息开始*/
.fixed-add-fill{
  position: relative;
  height: 2.25rem;
}
.fixed-add{
  box-sizing: border-box;
  position: fixed;
  bottom: 2.45rem;
  z-index: 10;
  width: 16rem;
  height: 2.25rem;
  padding-left: 1rem;
  line-height: 2.25rem;
  text-align: center;
  background: #fff;
  border-top: 1px solid #999;
}
.fixed-add a{
  font-size: .75rem;
}
.fixed-add a:before{
  content: "\271a";
  position: absolute;
  top: -.08rem;
  left: 5.2rem;
  font-family: 'icomoon';
  font-size: 1rem;
}
/*可复用底部添加信息结束*/
/*个人中心页面*/
.user-head{
  position: relative;
  height: 5.5rem;
  background: url(/image/chedai/personal.png) no-repeat;
  background-size: 16rem 5.5rem;
}
.user-head i{
  display: block;
  position: relative;
  top: .8rem;
  width: 3.8rem;
  height: 3.8rem;
  margin: 0 auto;
  background-position: -14.2rem -1.8rem;
}
/*经理首页*/
.manager-index
.selectlist{
  height: 2.25rem;
  color: #333;
  font-weight: bold;
}
.selectlist .list{
  width: 12rem;
  height: 100%;
  margin-left: .5rem;
  background-position: center bottom;
  border: none;
  -webkit-appearance: none;
}
/*时间轴_S*/
.time-line{
  position: relative;
  padding: 0 2rem .5rem 1rem;
}
.time-line .bar-line-box{
  position: absolute;
  top: 0;
  left: 1rem;
  width: 5px;
  height: 100%;
}
.time-line .bar-line-box .bar-dot{
  width: 5px;
  height: 5px;
  background-color: #b1ceee;
  border-radius: 50%;
}
.time-line .bar-line-box .bar-dot-top{
  margin-bottom: 6px;
}
.time-line .bar-line-box .bar-dot-bottom{
  margin-top: 6px;
}
.time-line .bar-line-box .bar-line{
  width: 5px;
  height: 85%;
  background-color: #b1ceee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.time-line ul{
  padding: 1.2rem 0 0 1.5rem;
}
.time-line li{
  position: relative;
  padding: .15rem 1rem .3rem .4rem;
  margin-bottom: 1.5rem;
  border: 1px solid #93c1f2;
  background-color: #fff;
  border-radius: 7px;
}
.time-line li div p{
  padding: .15rem 0;
  font-size: .6rem;
  line-height: .7rem;
}
.time-line .time-line-on div p{
  color: #2482e4;
}
.time-line li em{
  position: absolute;
  top: .48rem;
  left: -.15rem;
  width: .25rem;
  height: .25rem;
  border-top: 1px solid #93c1f2;
  border-left: 1px solid #93c1f2;
  transform: rotate(-45deg);
  background-color: #fff;
}
.time-line li b{
  position: absolute;
  top: .35rem;
  left: -1.7rem;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #b1ceee;
}
.time-line .time-line-on b{
  background-color: #2482e4;
}
.form .text-red{
  color: #f00;
}
/*时间轴_E*/
/*经理待审核详情页*/
.wrap-list .orange{
  color: #ff9900;
}
.wrap-list .blue{
  color: #2583e3;
}
.wrap-list .red{
  color: #f66;
}
.textarea{
  width: 15rem;
  height: 4.4rem;
  line-height: .8rem;
  padding: .5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background: #fff;
  font-size: .6rem;
  color: #333;
  resize: none;
}
.textarea-big{
  height: 11rem;
}
.textarea-margin{
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.textarea:focus{
  outline: none;
}
.textarea-show{
  min-height: 4.45rem;
  line-height: .85rem;
  padding: .25rem .5rem;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: .6rem;
  color: #333;
}
/*业务发起S*/
.business-add-box{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0eff5;
}
.wrap-list-block .check-item{
  padding-right: 0;
  padding-left: 1.5rem;
}
.wrap-list-block .check-item-checked{
  background-color: #f1f8ff;
}
.check-item .check-item-icon:before{
  position: absolute;
  top: 50%;
  left: .2rem;
  margin-top: -.5rem;
  font-family: 'icomoon';
  content: "\f1db";
  font-size: 1rem;
  color: #9d9d9d;
}
.check-item-checked .check-item-icon:before{
  content: "\f058";
  color: #2583e3;
}
.fixed-add-business{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}
.business-add{
  width: 100%;
}
.business-add .business-add-link{
  position: relative;
  display: block;
  padding-left: 1.5rem;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: .6rem;
  line-height: 2.25rem;
  color: #9e9e9e;
}
.business-add .business-add-link:before{
  content: "\271a";
  position: absolute;
  top: -.05rem;
  left: .7rem;
  font-family: 'icomoon';
  font-size: .6rem;
}
/*业务发起E*/
.choose-car-actice{
  position: relative;
  height: 4.4rem;
}
.choose-car-actice b{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
}

.wrap-idcard{
  position: relative;
  height: 6.5rem;
  background: #fff;
}
.wrap-idcard::before,
.wrap-idcard::after{
  content: '';
  position: absolute;
  left: 0;
  width: 16rem;
  height: .25rem;
}
.wrap-idcard::before{
  top: 0;
  background: url(/image/chedai/line-top.png) no-repeat;
  background-size: 100%;
}
.wrap-idcard::after{
  bottom: 0;
  background: url(/image/chedai/line-bottom.png) no-repeat;
  background-size: 100%;
}
.wrap-idcard .card-logo{
  float: left;
  width: 4.625rem;
  height: 2.55rem;
  background: url(/image/chedai/logo-landing.png) no-repeat;
  background-size: 100%;
  margin: 2rem 0 0 1rem;
}
.wrap-idcard .card-info{
  float: left;
  margin: 1.5rem 0 0 1.75rem;
  line-height: 1.25rem;
  font-size: .6rem;
}
.wrap-idcard .card-info p span{
  display: inline-block;
  width: 2.625rem;
  color: #666;
}
.wrap-idcard .card-info p b{
  color: #333;
}

.idcard-page .wrap-idcard{
  margin-bottom: 6.5rem;
}

.qrcode{
  width: 3.6rem;
  height: 3.6rem;
  background: url(/image/chedai/qrcode.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.customeradd-page .img-uploader,
.customerinfo-page .img-uploader{
  padding-top: 0;
}
.customeradd-page form:nth-child(5) .img-uploader,
.customerinfo-page .img-uploader{
  padding: 0 .35rem .75rem;
}

.loaninfo-page .input-normal{
  width: 9rem;
  padding-left: 1rem;
}

.wrap-reply{
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.wrap-reply .radio-group{
  /*float: right;*/
  /*padding: 1rem 0 0;*/
  /*-----------------*/
  clear:both;
  width:100%;
  margin-bottom:.5rem;
  /*----------------*/
  /*width: 7.1rem;*/
  line-height: 1.5rem;
}
.wrap-reply .radio-group label{
  display: block;
}
/*-----------------*/
.wrap-reply .radio-group label:first-child{
  float:left;
  width:7.5rem;
  margin-left:1.51rem;
}
/*-----------------*/
.wrap-reply textarea{
  box-sizing: border-box;
  display: block;
  width: 14.75rem;
  height: 4.2rem;
  padding: .3rem .5rem;
  border: 1px solid #999;
  border-radius: .2rem;
  margin: 0 auto .75rem;
  font-size: .6rem;
  outline: none;
}
.reply-more-btn{
  position: relative;
  margin-top: .5rem;
  height: 2.2rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.reply-more-btn .fl{
  width: 3.625rem;
  padding-left: .5rem;
  line-height: 2.2rem;
  color: #2583e3;
  font-size: .6rem;
}
.reply-more-btn .fr{
  width: 9.75rem;
  padding: 0.625rem 1.625rem 0.625rem 0;
  line-height: .6rem;
  color: #666;
  font-size: .5rem;
}
.reply-more-btn:before{
  content: '\e901';
  position: absolute;
  font-family: 'icomoon';
  line-height: 0.855rem;
  top: 50%;
  right: .5rem;
  margin-top: -.4rem;
  color: #666;
  font-size: .6rem;
  transform:rotate(90deg);
  pointer-events:none;
}
.wrap-reply-more{
  display: none;
}
.wrap-reply-more .wrap-reply:last-child{
  padding-top: .75rem;
}
.wrap-reply-more .wrap-reply:last-child label{
  display: inline-block;
  margin: 0 2rem .5rem;
}
.img-uploader-btn-ap{
  position: absolute;
  left:1.25rem;
  top:1rem;
  width:1.695rem;
  height:1.55rem;
  background: url(/image/chedai/chedai_cam.png) no-repeat -1.55rem 0;
  background-size: 4.175rem 1.5rem;
}

/*图片放大功能实现*/
.managerinfo_image_big{
  position: fixed;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.7);
  display:none;
  z-index: 1;
}
.managerinfo_image_box{
  margin:0 auto;
  height:100%;
}
.managerinfo_image_box>span{
  width:0;
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
.managerinfo_image_box>img{
  max-width:98%;
  max-height:100%;
}
.managerinfo_image_box_que{
  position:fixed;
  bottom:0;
  height:7.65rem;
  width:100%;
  background-color: #f5f5f5;
  display: none;
}
.managerinfo_image_box_que>a{
  display: block;
  line-height: 2.25rem;
  border-top:1px solid #ccc;
  box-sizing: border-box;
}
.managerinfo_image_box_que>p,
.managerinfo_image_box_que>a{
  font-size: .7rem;
  color:#666;
  text-align: center;
}
.managerinfo_image_box_que>p{
  line-height: 3.25rem;
}
.managerinfo_image_box_que>a.managerinfo_image_box_que_submit{
  color:#ff6666;
}
.managerinfo_image_box_c{
  position: fixed;
  top:0;
  width:100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  padding: .5rem .3rem;
}
.managerinfo_image_box_c>p{
  text-align: right;
}
.managerinfo_image_box_c i{
  float:right;
  width:.8rem;
  height:.85rem;
  margin-top:.325rem;
  background: url(/image/chedai/chedai_cam.png) no-repeat -3.25rem 0;
  background-size: 4.175rem 1.5rem;
}
.managerinfo_image_box_c span{
  color:#fff;
  font-size: .55rem;
  line-height: .8rem;
  margin-right: .25rem;
}

/*全国登记证添加多张图片*/
#moreImg .img-uploader-btn{
    width: 1.695rem;
    height: 1.55rem;
    background: url(/image/chedai/chedai_cam.png) no-repeat -1.55rem 0;
    background-size: 4.175rem 1.5rem;
}
.registration-certificate:after{
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: .5rem;
      width: 15.5rem;
      height: 0;
      border-bottom: 1px solid #cccccc;
}
