a,
button,
input{
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #f90;
}
body{
  font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti', 'microsoft yahei', \5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;
  font-size: 62.5%;
  background: #efeff4;
  max-width: 640px;
  margin:0 auto;
}
@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?jlfkxn');
    src:    url('/fonts/icomoon.eot?jlfkxn#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?jlfkxn') format('truetype'),
        url('/fonts/icomoon.woff?jlfkxn') format('woff'),
        url('/fonts/icomoon.svg?jlfkxn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.icon-location-on:before {*/
    /*content: "\e900";
}*/
.icon-location-on{
    width:.55rem;
    height:.8rem;
    background:url("/image/report/nav_now.png") no-repeat;
    background-size: .5rem .825rem;
    margin-top:.3rem;
}
.icon-check:before {
    content: "\f00c";
}
.icon-close:before {
    content: "\f00d";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-eye-slash:before {
    content: "\f070";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-building-o:before {
    content: "\f0f7";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-check-square:before {
    content: "\f14a";
}
.icon-circle-thin:before {
    content: "\f1db";
}

.dpn{
  display: none;
}
.tal{
  text-align: left;
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  display:inline-block;
} /*Those two .clearfix have to be separate!)*/
.clearfix {
  display:block;
}
.text-red{
  color: #f00;
}
.hide-noplace{
  height: 0;
  overflow: hidden;
}
.wrapper{
  position: relative;
  padding: .5rem;
}
.btn{
  box-sizing: border-box;
  padding: 0 .75rem;
  display: inline-block;
  border-radius: .25rem;
  line-height: 2.2rem;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn-block{
  display: block;
}
.btn-default{
  border: 1px solid #fc5e61;
  color: #fc5e61;
}
.btn-purple{
  border: 1px solid #808;
  background: #808;
}
.btn-orange{
  border: 1px solid #ff9115;
  background: #ff9115;
}
.btn-red{
  border: 1px solid #f73e42;
  background: #f73e42;
}
.btn-red-border{
  border: 1px solid #f73e42;
  color:#f73e42;
}
.btn-blue{
  border: 1px solid #4a97d9;
  background: #4a97d9;
}
.btn-disabled{
  border: 1px solid #ccc;
  color: #ccc;
}
.btn-small{
  line-height: 1.1rem;
  font-size: .6rem;
}

.no-pd{
  padding: 0!important;
}

.banner{
  display: block;
  height: auto;
}
.banner img{
  width: 100%;
  height: 100%;
}

.extra-text{
  padding: 0 .5rem;
  line-height: 1.5rem;
  font-size: .5rem;
  color: #999;
}
.extra-text a{
  font-size: .6rem;
  color: #666;
  text-decoration: underline;
}
.extra-text strong{
  font-size: .6rem;
  color: #333;
}

.icon-img-alert{
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: url(/image/report/icon-img-alert.png) no-repeat center center #f73e42;
  background-size: .45rem .6rem;
  vertical-align: -.15rem;
  margin-right: .25rem;
}
.icon-img-building{
  display: inline-block;
  width: .9rem;
  height: .9rem;
  background: url(/image/report/icon-img-building.png) no-repeat;
  background-size: 100%;
  margin-right: .2rem;
  vertical-align: -.2rem;
}
.icon-img-car{
  display: inline-block;
  width: .9rem;
  height: .9rem;
  background: url(/image/report/icon-img-car.png) no-repeat;
  background-size: 100%;
  margin-right: .2rem;
  vertical-align: -.2rem;
}
.icon-img-funded{
  display: inline-block;
  width: .9rem;
  height: .9rem;
  background: url(/image/report/icon-img-funded.png) no-repeat;
  background-size: 100%;
  margin-right: .2rem;
  vertical-align: -.2rem;
}

.form{
  width:15rem;
  margin:0 auto;
  border-radius: .15rem;
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  margin-bottom: .5rem;
  border: 1px solid #cccccc;
}
.form li{
  position: relative;
  line-height: 2.2rem;
}
.form li:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: .5rem;
  width: 14.5rem;
  height: 0;
  border-bottom: 1px solid #cccccc;
}
.form li:last-child:before{
  border: none;
}
.form li.img-uploader:before{
  display: none;
}
.form .label-normal{
  float: left;
  display: block;
  width: 4.25rem;
  padding-left: .5rem;
  font-size: .6rem;
  color: #666;
}
.form .input-normal{
  float: left;
  padding: 0;
  margin: 0;
  width: 10rem;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #333;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form .input-normal:disabled{
  color: #333;
  background: #fff;
}
.form .form-extra{
  position: absolute;
  right: .5rem;
  top: 0;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #666;
}
.form .form-extra a{
  color: #ff9115;
}
.form .icon-close{
  position: absolute;
  right: .8rem;
  top: .8rem;
  width: .6rem;
  line-height: .6rem;
  height: .6rem;
  background: #999;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: .5rem;
  display: none;
}

.form .radio-group{
  float: left;
  width: 10rem;
  line-height: 2.2rem;
  font-size: .6rem;
  color: #333;
}
/*.form .radio-group label{
  float: left;
  width: 33.33%;
}
.form .radio-group label:nth-child(2){
  text-align: center;
}
.form .radio-group label:last-child{
  text-align: right;
}*/
/*一低 一低转单 二抵 二抵转单*/
.form .radio-group label{
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left:.5rem;
}
.form .radio-group input[type='radio']{
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  vertical-align: -0.25rem;
}
.form .radio-group input[type='radio']:before{
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  content: "\f1db";
  font-size: 1rem;
  color: #9d9d9d;
}
.form .radio-group input[type='radio']:focus{
  outline: none;
}
.form .radio-group input[type='radio']:checked:before{
  content: "\f058";
  color: #fc5e61;
}
.form .radio-group label span{
  display: inline-block;
  box-sizing: border-box;
  padding-left: 1rem;
  font-size: .6rem;
  color: #666;
}

.form .img-uploader{
  float: left;
  padding: .75rem .5rem;
  width: 6.75rem;
}
.form .img-uploader:nth-of-type(2){
  padding-left: 0;
}
.form .img-uploader-box{
  position: relative;
  box-sizing: border-box;
  height: 4.75rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  overflow: hidden;
  text-align: center;
  padding-top:.5rem;
}
.form .img-uploader-box img{
  /*width: 100%;
  height: 100%;*/
  width:6rem;
  height:3.75rem;
}
.form .img-uploader-btn{
    position: absolute;
    left: 2.75rem;
    top: 1.5rem;
    width: 1.49rem;
    height: 1.55rem;
    background: url(/image/chedai/chedai_cam.png) no-repeat;
    background-size: 4.175rem 1.5rem;
    pointer-events: none;
}
.form .img-uploader-btn i{
  vertical-align: -.1rem;
}
.form .img-uploader-box .input-file{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form .img-uploader p{
  padding-top: .5rem;
  line-height: .6rem;
  font-size: .6rem;
  color: #666;
}
.img-uploader-info{
  min-width: 5.5rem;
  padding: .5rem 0;
  margin: 0 auto;
  line-height: .6rem;
  font-size: .5rem;
  color: #999;
}
.img-uploader-info .btn{
  width: 5rem;
  margin: 1rem auto .5rem;
}
.img-uploader-info .icon-plus{
  vertical-align: -.1rem;
}
.more-house-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efeff4;
  display: none;
}

.cutline-or{
  position: absolute;
  left: .5rem;
  bottom: 0;
  width: 15rem;
  height: 0;
  border-bottom: 1px solid #ccc;
}
.cutline-or span{
  display: inline-block;
  position: absolute;
  top: -.2rem;
  left: 6.85rem;
  width: 1.3rem;
  line-height: .6rem;
  background: #efeff4;
  text-align: center;
  font-size: .6rem;
  color: #999;
}

.hot-line{
  font-size: .6rem;
  color: #bbbbc5;
}

.result-title{
  padding: 1.75rem 0 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
.result-sign{
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
  line-height: 6.25rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}
.result-sign i{
  display: none;
}
.result-sign-success{
  background: #1dcd6c;
}
.result-sign-success .icon-check{
  display: inline-block;
}
.result-sign-fail{
  background: #ff6e6c;
}
.result-sign-fail .icon-close{
  display: inline-block;
}
.result-msg{
  padding-top: 1.75rem;
  line-height: .7rem;
  font-size: .6rem;
  color: #666;
  text-align: center;
}
.result-msg b,
.result-link-success b,
.result-link-fail b,
.result-link-fail a{
  color: #f90;
}
.result-link-success{
  margin: 4.5rem .5rem 3.125rem;
}
.result-link-fail{
  margin: 3rem 0 6.75rem;
  line-height: .7rem;
  text-align: center;
  color: #999;
  font-size: .6rem;
}

.choose-type{
  position: relative;
  float: left;
  width: 8rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
}
.choose-status{
  position: relative;
  float: right;
  width: 8rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
}
.choose-type select,
.choose-status select{
  float: left;
  box-sizing: border-box;
  width: 8rem;
  padding-left: .5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background: #fff;
  border: none;
  font-size: .5rem;
  color: #999;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
.choose-type select:focus,
.choose-status select:focus{
  color: #333;
}
.choose-type:before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 1.5rem;
  border-right: 1px solid #ccc;
  background-size: 100%;
  pointer-events:none;
}
.choose-type:after,
.choose-status:after{
  position: absolute;
  content: '\f105';
  right: .5rem;
  top: .3rem;
  font-family: 'icomoon';
  color: #333;
  font-size: .8rem;
  transform: rotate(90deg);
  pointer-events: none;
}

.list-empty{
  display: none;
  box-sizing: border-box;
  padding-top: 3rem;
  color: #666
}

.report-list a{
  display: block;
  box-sizing: border-box;
  width: 15rem;
  height: 3.5rem;
  margin: 0 .5rem .5rem;
  border: 1px solid #ccc;
  border-radius: .2rem;
  background: #fff;
  overflow: hidden;
}
.report-list a:last-child{
  margin-bottom: 0;
}
.report-list .user-img{
  float: left;
  margin: .25rem .9rem 0 .5rem;
  text-align: center;
  overflow: hidden;
}
.report-list .user-img img{
  display: block;
  box-sizing: border-box;
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.report-list .user-img strong{
  line-height: .7rem;
  font-size: .5rem;
  color: #333;
}
.report-list .report-info{
  float: left;
  padding: .4rem 0;
  width: 5.6rem;
  line-height: 1.35rem;
  font-size: .6rem;
  color: #999;
}
.report-list .report-info strong{
  color: #333;
}
.report-list .report-status-1{
  color: #42a4e5;
}
.report-list .report-status-2{
  color: #ccc;
}
.report-list .report-status-3{
  color: #8fd3c1;
}
.report-list .report-status-4{
  color: #e58a6d;
}
.report-list .report-status-5{
  color: #c1a3d2;
}
.report-list .report-status-6{
  color: #ff9f16;
}

.page-report-invite{
  background: url(/image/report/invite-bg.jpg) no-repeat #cb1d10;
  background-size: 16rem 28.4rem;
}
.page-report-invite .invite-sign{
  position: relative;
  height: 17.25rem;
}
.page-report-invite .invite-title-box{
  position: absolute;
  left: 2.1625rem;
  top: 1.5rem;
  width: 11.675rem;
  height: 6.275rem;
  overflow: hidden;
}
.page-report-invite .invite-title{
  width: 11.675rem;
  height: 6.275rem;
  background: url(/image/report/invite-title.png) no-repeat;
  background-size: 11.675rem 6.275rem;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -ms-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
.page-report-invite .invite-qrcode{
  position: absolute;
  top: 10.35rem;
  left: 5.775rem;
  width: 4.45rem;
  height: 4.45rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.6);
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
  border-radius: .3rem;
  overflow: hidden;
}
.page-report-invite .invite-qrcode img{
  width: 4.45rem;
}
.page-report-invite .invite-yell{
  position: absolute;
  top: 9.75rem;
  right: 3rem;
  width: 2.425rem;
  height: 2.25rem;
  background: url(/image/report/invite-yell.png) no-repeat;
  background-size: 100%;
}
.page-report-invite .invite-info{
  position: absolute;
  top: 15.2rem;
  left: 0;
  width: 100%;
  line-height: .8rem;
  font-size: .5rem;
  color: #fff;
  text-align: center;
}
.page-report-invite .invite-rule{
  position: relative;
  padding: 0 1rem;
  margin-bottom: .5rem;
}
.page-report-invite .invite-rule-list{
  padding: .5rem .625rem;
  line-height: .7rem;
  border-radius: 1rem;
  background: #fffeef;
  font-size: .5rem;
  color: #666;
}
.page-report-invite .invite-btn a{
  width: 6.5rem;
  padding: 0;
}
.page-report-invite .invite-btn a:first-child{
  float: left;
  margin-left: .5rem;
  background: #ffea95;
  color: #fe492b;
  box-shadow: inset 0 -2px 0 #fe925b;
}
.page-report-invite .invite-btn a:last-child{
  float: right;
  margin-right: .5rem;
  background: #e93b2e;
  border: 1px solid #e93b2e;
  box-shadow: inset 0 -2px 0 #b72818;
}

.invite-list-header{
  height: 3.75rem;
  background: #f90;
  border-radius: .2rem;
}
.invite-list-header li{
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 5rem;
  height: 3.75rem;
  padding: .375rem .5rem;
  color: #fff;
  text-align: center;
}
.invite-list-header li strong{
  display: block;
  line-height: .85rem;
  font-size: .6rem;
}
.invite-list-header li span{
  display: block;
  font-size: .8rem;
  line-height: 2.3rem;
}
.invite-list-header li:before{
  content: '';
  position: absolute;
  right: 0;
  top: .375rem;
  width: 0;
  height: 3rem;
  border-right: 1px solid #ffd28e;
}
.invite-list-header li:last-child:before{
  border: none;
}

.invite-list ul{
  margin: 0 .5rem;
  background: #fff;
  border-radius: .2rem;
  border: 1px solid #ccc;
}
.invite-list li{
  position: relative;
  height: 3.3rem;
  overflow: hidden;
}
.invite-list li:before{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14rem;
  height: 0;
  border-bottom: 1px solid #ccc;
}
.invite-list li:last-child:before{
  display: none;
}
.invite-list li img{
  box-sizing: border-box;
  float: left;
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: .5rem .75rem .5rem .5rem;
}
.invite-list li .user-info{
  float: left;
  width: 6.5rem;
  padding-top: .5rem;
  line-height: 1.2rem;
  font-size: .6rem;
}
.invite-list li .user-info strong{
  display: block;
  color: #333;
}
.invite-list li .user-info span{
  display: block;
  color: #999;
}
.invite-list li .user-value{
  float: left;
  width: 4.5rem;
  padding: .8rem 0;
  text-align: center;
}
.invite-list li .user-value b{
  display: block;
  line-height: 1rem;
  color: #f90;
  font-size: .8rem;
}
.invite-list li .user-value small{
  line-height: .7rem;
  color: #999;
  font-size: .5rem;
}

.page-report-landing{
  background: url(/image/report/landing-bg.jpg) top left no-repeat #fcebd2;
  background-size: 16rem 8.175rem;
}
.page-report-landing .landing-title{
  position: relative;
  padding-top: .9rem;
  width: 16rem;
  height: 6rem;
  background: url(/image/report/landing-title.png) bottom center no-repeat;
  background-size: 14.35rem 6rem;
}
.page-report-landing .landing-card{
  box-sizing: border-box;
  position: relative;
  top: 1rem;
  width: 13.475rem;
  height: 16.525rem;
  margin: 0 auto;
  background: url(/image/report/bg-landing-card.png) no-repeat;
  background-size: 100%;
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -ms-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.page-report-landing .landing-card img{
  position: absolute;
  bottom: 1.875rem;
  left: .775rem;
  width: 4.075rem;
  height: 4.075rem;
  border-radius: .5rem;
}
.page-report-landing .landing-card a{
  display: block;
  position: absolute;
  right: .6rem;
  bottom: 3.15rem;
  width: 6.375rem;
  height: 1.4rem;
}

.location-wrapper{
  padding: 0 .5rem;
  height: 1.5rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.location-current{
  position: relative;
  line-height: 1.5rem;
  font-size: .55rem;
}
.location-current .icon-location-on{
  float: left;
  margin-right: .3rem;
  color: #f90;
  line-height: 1.5rem;
  font-size: .8rem;
}
.location-current span{
  float: left;
  color: #666;
}
.location-current strong{
  color: #333;
}
.location-current .icon-refresh{
  float: right;
  margin-right: .2rem;
  color: #f90;
  line-height: 1.5rem;
  font-size: .6rem;
}
.location-current b{
  float: right;
  color: #666;
}

.location-container{
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 100%;
  background: #efeff4;
  display: none;
  z-index: 999;
}
.location-container .location-title{
  padding-left: .5rem;
  height: 1.625rem;
  line-height: 1.625rem;
  background: #e6e6e6;
  font-size: .6rem;
  color: #666;
}
.location-container .location-box{
  padding: 0 .5rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .2rem;
}
.location-container .list-cities li{
  float: left;
  box-sizing: border-box;
  width: 3.25rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: 0 .25rem .5rem;
  border: 1px solid #ccc;
  border-radius: .2rem;
  background: #fff;
  font-size: .55rem;
  color: #333;
  text-align: center;
}

.product-list{
  position: relative;
}
.product-list .product-item{
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  margin-bottom: .5rem;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  overflow: hidden;
  padding-bottom: .5rem;
}
.product-list .product-desc{
  display: block;
  padding: 0 .25rem;
  color: #333;
  margin-bottom: .25rem;
}
.product-list .product-title{
  position: relative;
  height: 2.175rem;
  line-height: 2.175rem;
  font-size: .75rem;
  color: #f90;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.product-list .product-title:before{
  content: "\f105";
  position: absolute;
  font-family: 'icomoon';
  right: .5rem;
  color: #999;
  font-size: 1.3rem;
}
.product-list .product-desc-title{
  padding-left: .7rem;
  height: 2.1rem;
  line-height: 2.1rem;
  font-size: .6rem;
}
.product-list .product-rate{
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 2.25rem;
  text-align: center;
  font-weight: bold;
  color:#fc5e61;
}
.product-funded .product-rate{
  color:#ff9900;
}
.product-list .product-subrate{
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .6rem;
  text-align: center;
}
.product-list .product-tag{
  padding: 0.425rem 0 .75rem;
  height: .9rem;
  line-height: .9rem;
  font-size: .55rem;
  color: #f90;
}
.product-list .product-tag span{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 .45rem;
  margin: 0 .1rem;
  border: 1px solid #f90;
  border-radius: .45rem;
}
.product-list .product-btn{
  display: block;
  height: 2.2rem;
  width:14rem;
  margin:0 auto;
  line-height: 2.2rem;
  background: #fc5e61;
  text-align: center;
  color: #fff;
  font-size: .9rem;
  border-radius: .3rem;
}

.product-list .product-car .product-title,
.product-list .product-car .product-tag{
  color: #2583e3;
}
.product-list .product-car .product-tag span{
  border: 1px solid #2583e3;
}
.product-list .product-car .product-btn{
  background: #2583e3;
}

.product-list .product-funded .product-title,
.product-list .product-funded .product-tag{
  color: #35c68c;
}
.product-list .product-funded .product-tag{
  color: #fd787b;
}
.product-list .product-title,
.product-list .product-funded .product-title{
  color:#333;
  font-size:.85rem;
}
.product-list .product-funded .product-tag span{
  border: 1px solid #fd787b;
}
.product-list .product-funded .product-btn{
  background: #ff9900;
}



.nav{
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 640px;
  height: 2.45rem;
  background: #fff;
  border-top: 1px solid #999;
}
.nav:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 2.45rem;
  border-right: 1px solid #ccc;
}
.nav a{
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: .5rem;
  color: #999;
}
.nav a i{
  display: block;
  width: 1.05rem;
  height: 1.1rem;
  margin: 0.325rem auto .25rem;
  background: url(/image/report/nav.png?v=2) no-repeat;
  background-size: 1rem 5rem;
}
.nav a:last-child i{
  background-position: 0 -2.4rem;
}
.nav a:hover i,
.nav a.current i{
  background-position: 0 -1.25rem;
}
.nav a:last-child:hover i,
.nav a.current:last-child i{
  background-position: 0 -3.65rem;
}
.nav a:hover strong,
.nav a.current strong{
  color: #fc7173;
}
.nav-fill{
  position: relative;
  height: 2.65rem;
  pointer-events: none;
}

.wrap-list{
  padding: 0 0 0 .5rem;
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  margin-bottom: .5rem;
}
.wrap-list li{
  position: relative;
  border-top: 1px solid #e7e7e7;t
}
.wrap-list li:first-child{
  border: none;
}
.wrap-list .list-item{
  position: relative;
  display: block;
  height: 2.25rem;
  line-height: 2.25rem;
}
.wrap-list .list-item strong{
  color: #fc5e61;
}
.wrap-list:nth-of-type(3) .list-item strong{
  color: #999;
}
.wrap-list .list-item-key{
  float: left;
  color: #333;
  font-size: .7rem;
}
.wrap-list .list-item-value{
  float: right;
  color: #999;
  font-size: .6rem;
  margin-right: .5rem;
}
.wrap-list .list-link:before{
  content: "\f105";
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-family: 'icomoon';
  font-size: 1.2rem;
  color: #999;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap-list .list-link .list-item-value{
    margin-right: 1.5rem;
}

.wrap-list .list-item-big{
  height: 3rem;
  position: relative;
  overflow: hidden;
}
.wrap-list .list-item-big span{
  position: relative;
  float: none;
  display: block;
  line-height: 1.45rem;
  padding-left: .5rem;
}
.wrap-list .list-item-big .list-item-value{
  line-height: 1.3rem;
  text-align: center;
}
.wrap-list .list-item-big-single .list-item-value{
  font-size: .9rem;
  color: #f90;
}

.wrap-list .list-avatar{
  height: 4.4rem;
  line-height: 4.4rem;
}
.wrap-list .list-avatar:before{
  top: 1.6rem;
}
.wrap-list .list-avatar .list-item-value{
  width: 3rem;
  height: 3rem;
  margin: .7rem 1.2rem 0 0;
}
.wrap-list .list-avatar .list-item-value img{
  display: block;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/*两格布局*/
.wrap-col-double{
  position: relative;
}
.wrap-col-double:before{
  content: '';
  position: absolute;
  top: 18%;
  left: 50%;
  width: 0;
  height: 64%;
  border-right: 1px solid #e7e7e7;
}
.wrap-col-double .col{
  float: left;
  display: block;
  width: 50%;
}
.wrap-col-double .col-text{
  position: relative;
  width: 87.5%;
}
.wrap-col-double .col-text-key{
  font-size: .7rem;
  color: #666;
  line-height: 1.1rem;
}
.wrap-col-double .col-text-key strong{
  color: #333;
}
.wrap-col-double .col-text-value{
  font-size: .9rem;
  color: #808;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}
.wrap-col-double .col-small{
  position: relative;
  display: block;
}
.wrap-col-double .col-small .col-text{
  margin: .25rem 6.25%;
}
.wrap-col-double .col-small .col-text-value{
  font-size: .9rem;
  color: #fb9b16;
}
.wrap-col-double .col-small .icon-angle-right{
  position: absolute;
  top: .2rem;
  right: .5rem;
  font-size: 1.1rem;
  color: #999;
}
.list-item-big .icon-angle-right{
  position: absolute;
  top: .2rem;
  right: .5rem;
  font-size: 1.1rem;
  color: #999;
}

/*用户中心头部*/
.header-user{
  box-sizing: border-box;
  padding: .85rem .5rem 0 .75rem;
  height: 9.025rem;
  background: url(/image/report/header-user2.gif) no-repeat;
  background-size: 100%;
  /*margin-bottom: .5rem;*/
  overflow: hidden;
}
.header-user .avatar{
  box-sizing: border-box;
  /*float: left;*/
  /*padding: .1rem;
  width: 3.75rem;
  height: 3.75rem;*/
  width:100%;
  height:3.85rem;
  border-radius: 50%;
}
.header-user .avatar a{
  display: block;
  text-align: center;
}
.header-user .avatar img{
  width: 3.85rem;
  height: 3.85rem;
  border-radius: 50%;
  border: .1rem solid #feafb0;
}
.header-user .profile{
  /*float: left;*/
  padding: .55rem 0;
  margin-left: .5rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.1);
  line-height: 1rem;
  text-align: center;
}
.header-user .profile strong{
  font-size: .75rem;
  margin-right: .5rem;
}
.header-user .profile p{
  font-size: .6rem;
}
.header-user .profile p:nth-of-type(1){
  display: inline-block;
}
.header-user .report-botton{
  box-sizing: border-box;
  float: right;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin: .375rem 0;
  border-radius: 50%;
  border: 1px solid #9ab1e8;
  background: rgba(255,255,255,.1);
  text-align: center;
  color: #fff;
  font-size: .75rem;
}







a.btn-signout{
  display: block;
  height: 2.2rem;
  margin-top: 1.5rem;
  line-height: 2.2rem;
  background: #fff;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
  text-align: center;
  color: #333;
  font-size: .7rem;
}
/*更多按钮*/
a.btn-more{
  display: block;
  position: relative;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #ccc;
  font-size: 13px;
  text-shadow: 1px 1px 2px #fff;
}
.more-loading > i {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
.more-loading .bounce1 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.more-loading .bounce2 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.more-loading .bounce3 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.shadow,
.shadow-share{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  display: none;
}
.shadow-share i{
  display: block;
  position: fixed;
  right: .5rem;
  top: .5rem;
  width: 8.5rem;
  height: 7.575rem;
  background: url(/image/report/share.png) no-repeat;
  background-size: 100%;
}
.pop-wrap-error{
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 102;
  height: 12px;
  line-height: 12px;
  padding: 20px 15px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  white-space:nowrap;
  text-align: center;
  display: none;
}

.pop-loading{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 102;
  padding: 30px 40px;
  color: #fff;
  z-index: 99;
  text-align: center;
  background: rgba(0,0,0,.8);
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
.pop-loading p{
  line-height: 30px;
  height: 30px;
}
.pop-loading .pop-loading-effect{
  width: 90px;
  margin: 0 auto;
}
.pop-loading .pop-loading-effect > i {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pop-loading .pop-loading-effect .bounce1 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.pop-loading .pop-loading-effect .bounce2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.pop-loading .pop-loading-effect .bounce3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.pop-loading .pop-loading-effect .bounce4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.pop-loading .pop-loading-effect .bounce5 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.pop-loading .pop-loading-effect .bounce6 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*2016垫资报单温馨提示S*/
.submitreport-record-link{
    text-align: right;
}
.submitreport-record-link a{
    border-bottom: 1px solid #f90;
}
.submitreport-tip{
    margin: .5rem .5rem 1rem;
    background-color: #fff6eb;
    border-radius: 3px;
}
.submitreport-tip p:first-child{
    padding: .5rem .5rem .4rem .5rem;
    font-size: .6rem;
    color: #666;
    line-height: .6rem;
}
.submitreport-tip p:last-child{
    padding: 0 .5rem .6rem .5rem;
    font-size: .5rem;
    color: #999;
    line-height: .7rem;
}
/*2016垫资报单温馨提示E*/
.wrapper-list{
  padding:0;
}
.wrapper-list-cities li{
  box-sizing: border-box;
  height:1.5rem;
  line-height: 1.5rem;
  background-color: #fff;
  font-size:.55rem;
  color:#333;
  padding-left:.5rem;
  border-bottom:1px solid #ccc;
}
.location-title-all{
  margin-top:-.5rem;
}


.product-list-sum{
  line-height: 1.25rem;
  text-align: center;
  font-size: .55rem;
  color:#999;
}

/*房抵/垫资报表添加头部*/
.submitreport-head>li{
  width:50%;
  float: left;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  height:2rem;
  padding-top:.4rem;
  padding-bottom:.4rem;
  text-align: center;
}
.submitreport-head .report-fasthouse{
  border-right: 1px solid #e6e6e6;
}
.submitreport-head .report-submithouse{
  border-left: 1px solid #e6e6e6;
}
.submitreport-head>li>a{
  display: inline-block;
  padding:0 .25rem;
  height:1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color:#656565;
  font-size: .65rem;
}
.page-report-submitreport .submitreport-head .report-submithouse a{
  color:#fd5f60;
  border-bottom: .1rem solid #fd5f60;
}

#more-img .icon-plus:before{
  color:#fc5e61;
}
.submitreport-record-link>a,
.tac a{
  color:#fc5e61;
}
.page-report-submitreport .wrapper>.btn-default{
  background-color: #fc5e61;
  color:#fff;
}
.submit-report-tac{
    width: 5.85rem;
    height:1.25rem;
    line-height: 1.25rem;
    margin: 1rem auto;
    border: 1px solid #fc5e61;
    border-radius: .25rem;
    padding:0;
}
